main{
    margin: 20px 0px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

form {
    width: 250px;

    input {
        margin: 10px 0;
    }
}

.form-container {
    width: 300px;
}


