{% extends 'base.html' %}
{% block content %}

    <h2>Adicionar Filme</h2>
    <form method="post">
        <!--Campo do Titulo-->
        <label for="titulo">Titulo:</label><br>
        <input type="text" name="titulo" required><br>

        <!--Campo do Genero-->
        <label for="genero">Genero:</label><br>
        <input type="text" name="genero" required><br>

        <!--Campo da Nota-->
        <label for="nota">Nota:</label><br>
        <input type="number" name="nota" required><br>
        
        <button class="btn btn-success" type="submit">Salvar</button>
    </form>

{% endblock %}